@using OnlineShopWeb.Models;
@model CouponModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>CouponId : @(Model.CouponId)</p>
<p>Code : @(Model.Code)</p>
<p>Amount of Discount : @(Model.AmountOfDiscount)</p>
<p>Type of Discount : @(Model.TypeOfDiscount)</p>
<p>Maximum Number of Uses : @(Model.MaxNumberOfUses)</p>

<p>@(Html.ActionLink("Back", "Index", "Coupon", null, new { @class = "btn btn-secondary" }))</p>