@using OnlineShopWeb.Models
@model List<CouponModel>
@{
    ViewData["Title"] = "Igors Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    @(Html.ActionLink("Add", "Update", "Coupon", null, new { @class = "btn btn-secondary" }))

    <br />

    <table>
        <tr>
            <th>CouponId</th>
            <th>Code</th>
            <th>Amount of Discount</th>
            <th>Type of Discount</th>
            <th>Maximal Number of Uses</th>
            <th>StartDate</th>
            <th>EndDate</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @{
            foreach (var coupon in Model)
            {
                <tr>
                    <td> @(coupon.CouponId)</td>
                    <td> @(coupon.Code)</td>
                    <td> @(coupon.AmountOfDiscount)</td>
                    <td> @(coupon.TypeOfDiscount)</td>
                    <td> @(coupon.MaxNumberOfUses)</td>
                    <td> @(coupon.StartDate)</td>
                    <td> @(coupon.EndDate)</td>
                    <td> @(Html.ActionLink("Details", "Details", "Coupon", new { id = coupon.CouponId }, new { @class = "btn btn-secondary" }))</td>
                    <td> @(Html.ActionLink("Edit", "Update", "Coupon", new { id = coupon.CouponId }, new { @class = "btn btn-secondary" }))</td>
                    <td> @(Html.ActionLink("Delete", "Delete", "Coupon", new { id = coupon.CouponId }, new { @class = "btn btn-secondary" }))</td>
                </tr>
            }


        }

    </table>



