@using System.Text.Json;
@model ShoppingCartDictionaryModel
@{
    ViewData["Title"] = "Igors Home Page";
    // string serializedList = JsonSerializer.Serialize(Model.ShoppingCartModelDictionary);
    //var dictionary = JsonSerializer.Deserialize<ShoppingCartDictionaryModel>(Context.Request.Cookies["ShoppingCartDictionaryModel"]);
}

@* @section Scripts {
    <script>
        $(document).ready(function () {
            $("#jsbuy2").on("click", function () {
                alert("Handler for `click` called.");
            });
        });

        $.ajax({
            url: '/ShoppingCartController/BuyAllItemsInShoppingCart',
            type: 'POST',
            data: { jsonData: '@(serializedList)' },
            success: function (result) {
            }
        });
    </script>
} *@

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    Your Products!

    <br />
    <br />
    <br />

    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>How many you buy</th>
            <th></th>
        </tr>

        @{
            foreach (var element in Model.ShoppingCartModelDictionary)
            {
                <tr>
                    @{
                        <td> @(element.Value.ProductInCart.ProductId)</td>
                        <td> @(element.Value.ProductInCart.Name)</td>
                        <td> @(element.Value.count)</td>
                        <td> @(Html.ActionLink("Delete", "DeleteFromShoppingCart", "ShoppingCart", new { key = element.Key }, new { @class = "btn btn-secondary" }))</td>
                    }

                </tr>
            }
        }

    </table>

    <br />
    <br />

    Your Coupons!

    <table>
        <tr>
            <th>Coupon Code</th>
            <th>Amount of Discount</th>
            <th>Type of Discount</th>
            <th></th>
        </tr>

        @{
            foreach (var element in Model.CouponModelDictionary)
            {
                <tr>
                    @{
                        <td> @(element.Value.Code)</td>
                        <td> @(element.Value.AmountOfDiscount)</td>
                        <td> @(element.Value.TypeOfDiscount)</td>
                        <td> @(Html.ActionLink("Delete", "DeleteCoupon", "ShoppingCart", new { CouponId = element.Value.CouponId }, new { @class = "btn btn-secondary" }))</td>
                    }

                </tr>
            }
        }

    </table>

    <br />
    <br />
    <br />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <form asp-action="AddCoupon" asp-controller="ShoppingCart" method="post">
        <input type="text" name="couponCode"/>
        <span asp-route-couponCode="couponCode" class="text"> Add Coupon Code</span>
        <br />
        <input type="submit" value="Add Coupon" />
    </form>

    <br />
    @(Html.ActionLink("Buy everything", "BuyAllItemsInShoppingCart", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))


@*     <form method="post">

        <input type="text" asp-for="CouponCode" />
        <span asp-route-couponCode="CouponCode" class="text">Coupon Code</span>

        <br />
        <input id="jsbuy" type="submit" value="Javascript Buy Everything" />
    </form> *@




