@using System.Text.Json;
@using OnlineShopWeb.TransferObjects.Models.ListModels;
@model ShoppingCartListModel
@{
    ViewData["Title"] = "Igors Home Page";
}


@section Scripts {
    <script src="~/js/ShoppingCartIndex.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    Your Products!

    <br />
    <br />
    <br />

    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>How many you buy</th>
            <th></th>
        </tr>

        @{
            foreach (var element in Model.ShoppingCartModelList)
            {
                <tr>
                    @{
                        <td> @(element.ProductModelInCart.ProductId)</td>
                        <td> @(element.ProductModelInCart.Name)</td>
                        <td> @(element.ProductModelInCart.Price)</td>
                        <td> @(element.Count)</td>
                        <td>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#a_@element.ProductModelInCart.ProductId">
                                Delete Coupon
                            </button>
                        </td>
                        // <td> @(Html.ActionLink("Delete", "DeleteFromShoppingCart", "ShoppingCart", new { productId = element.ProductModelInCart.ProductId }, new { @class = "btn btn-secondary" }))</td>
                    }

                </tr>

                <!-- Modal -->
                <div class="modal fade" id="a_@element.ProductModelInCart.ProductId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this product?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
                                <button onclick="deleteProduct('@element.ProductModelInCart.ProductId')" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete!</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </table>

    <br />
    <br />

</div>


<div id="couponTable" class="text-center">

    @await Component.InvokeAsync("CouponTable", Model)

</div>
<br />
<br />
<br />

@Html.ValidationSummary("", new { @class = "text-danger" })

<input id="couponCode" enctype='application/json' type="text" />
<br />
<button onclick="getCouponCode()">Add Coupon!</button>
<br />

<br />
<br />
<br />
@(Html.ActionLink("Buy everything synchronous", "BuyAllItemsInShoppingCartHttp", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))
<br />
<br />
@(Html.ActionLink("Buy everything NServiceBus", "BuyAllItemsInShoppingCartServiceBus", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))
<br />
<br />
@(Html.ActionLink("Buy everything gRPC", "BuyAllItemsInShoppingCartServiceBus", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))



