@using System.Text.Json;
@using OnlineShopWeb.Models
@model ShoppingCartModel
@{
    ViewData["Title"] = "Igors Home Page";
}


@section Scripts {
    <script src="~/js/ShoppingCartIndex.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    Your Products!

    <br />
    <br />
    <br />

    <table>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>How many you buy</th>
            <th></th>
        </tr>

        @{
            foreach (var element in Model.ShoppingCartModelList)
            {
                <tr>
                    @{
                        <td> @(element.ProductModelInCart.ProductId)</td>
                        <td> @(element.ProductModelInCart.Name)</td>
                        <td> @(element.ProductModelInCart.Price)</td>
                        <td> @(element.Count)</td>
                        <td>
                            <button type="button"
                                    className="btn btn-default"
                                    onClick="deleteProduct(@element.ProductModelInCart.ProductId)">
                                Delete
                            </button>
                        </td>
                    }

                </tr>
            }
        }

    </table>

    <br />
    <br />

</div>


<div id="couponTable" class="text-center">

    @await Component.InvokeAsync("CouponTable", Model)

</div>
<br />
<br />
<br />

@Html.ValidationSummary("", new { @class = "text-danger" })

<input id="couponCode" enctype='application/json' type="text" />
<br />
<button onclick="getCouponCode()">Add Coupon!</button>
<br />

<br />
<br />
<br />
@(Html.ActionLink("Buy everything synchronous", "BuyAllItemsInShoppingCartHttp", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))
<br />
<br />
@(Html.ActionLink("Buy everything NServiceBus", "BuyAllItemsInShoppingCartServiceBus", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))
<br />
<br />
@(Html.ActionLink("Buy everything gRPC", "BuyAllItemsInShoppingCartGrpc", "ShoppingCart", new { }, new { @class = "btn btn-secondary" }))



