@model OnlineShopWeb.Models.UserModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>UserId : @(Model.UserId)</p>
<p>First Name : @(Model.FirstName)</p>
<p>Last Name : @(Model.LastName)</p>
<p>Age : @(Model.Age)</p>
<p>Country : @(Model.Location.Country)</p>
<p>City : @(Model.Location.City)</p>
<p>Street : @(Model.Location.City)</p>
<p>Postal Code : @(Model.Location.PostalCode)</p>

<p>
    <form asp-action="Index" asp-controller="UserList" method="get">
        <input type="submit" value="Back" />
    </form>
</p>