@using OnlineShopWeb.TransferObjects.Models;
@model UserModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<p>UserId : @(Model.UserId)</p>
<p>E-Mail : @(Model.EMail)</p>
<p>First Name : @(Model.GivenName)</p>
<p>Last Name : @(Model.Surname)</p>
<p>Age : @(Model.Age)</p>
<p>Country : @(Model.Country)</p>
<p>City : @(Model.City)</p>
<p>Street : @(Model.Street)</p>
<p>House Number : @(Model.HouseNumber)</p>
<p>Postal Code : @(Model.PostalCode)</p>

<p>@(Html.ActionLink("Back", "Index", "User", null, new { @class = "btn btn-secondary" }))</p>

