@model UserListModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p></p>
    <form asp-action="Add" asp-controller="User" method="get">
        <input type="submit" value="Add" />
    </form>

    <p>
        <table>
            <tr>
                <th>UserId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Country</th>
                <th>City</th>
                <th>Street</th>
                <th>Postal Code</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            @{
                foreach (var user in Model.UserList)
                {
                    <tr>
                        <td> @(user.UserId)</td>
                        <td> @(user.FirstName)</td>
                        <td> @(user.LastName)</td>
                        <td> @(user.Age)</td>
                        <td> @(user.Location.Country)</td>
                        <td> @(user.Location.City)</td>
                        <td> @(user.Location.Street)</td>
                        <td> @(user.Location.PostalCode)</td>
                        <td>
                            <form asp-action="Details" asp-route-id="@user.UserId" asp-controller="User" method="get">
                                <input type="submit" value="Details" />
                            </form>
                        </td>
                        <td>
                            <form asp-action="Edit" asp-route-id="@user.UserId" asp-controller="User" method="get">
                                <input type="submit" value="Edit" />
                            </form>
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.UserId" asp-controller="User" method="get">
                                <input type="submit" value="Delete" />
                            </form>
                        </td>
                    </tr>
                }


            }

        </table>

    </p>

</div>


