@using System.Text.Json;
@using OnlineShopWeb.TransferObjects.Models.ListModels;
@model ShoppingCartListModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // string Code = "";
}
<table>
    <tr>
        <th hidden>CouponId Id</th>
        <th>Coupon Code</th>
        <th>Amount of Discount</th>
        <th>Type of Discount</th>
        <th></th>
    </tr>

    @{
        foreach (var element in Model.CouponModelList)
        {
            <tr>
                @{
                    <td hidden> @(element.CouponId)</td>
                    <td> @(element.Code)</td>
                    <td> @(element.AmountOfDiscount)</td>
                    <td> @(element.TypeOfDiscount)</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target='#@element.Code'>
                            Delete Coupon
                        </button>
                    </td>

                }

            </tr>

            <!-- Modal -->
            <div class="modal fade" id='@element.Code' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this coupon?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Return</button>
                            <button onclick="deleteProduct('@element.Code')" type="button" class="btn btn-primary" data-bs-dismiss="modal">Delete!</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</table>