@model ProductListModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    @(Html.ActionLink("Add", "Add", "Product"))

    <br />

    <table>
        <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Producer</th>
            <th>Category</th>
            <th>Picture</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @{
            foreach (var product in Model.ProductList)
            {
                <tr>
                    <td> @(product.ProductId)</td>
                    <td> @(product.Name)</td>
                    <td> @(product.Producer)</td>
                    <td> @(product.Category)</td>
                    <td> @(product.Picture)</td>
                    <td> @(Html.ActionLink("Details", "Details", "Product", new { id = product.ProductId }))</td>
                    <td> @(Html.ActionLink("Edit", "Edit", "Product", new { id = product.ProductId }))</td>
                    <td> @(Html.ActionLink("Delete", "Delete", "Product", new { product.ProductId }))</td>
                </tr>
            }


        }

    </table>


    
