@using System.Text.Json
@using OnlineShopWeb.TransferObjects.Models.ListModels;
@model ProductListModel
@{
    ViewData["Title"] = "Igors Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <br />

    @(Html.ActionLink("Add", "Update", "Product", null, new { @class = "btn btn-secondary" }))

    <br />

    <table>
        <tr>
            <th>ProductId</th>
            <th>Name</th>
            <th>Producer</th>
            <th>Category</th>
            <th>Price</th>
            <th>Picture</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @{
            foreach (var product in Model.ProductModelList)
            {
                <tr>
                    <td> @(product.ProductId)</td>
                    <td> @(product.Name)</td>
                    <td> @(product.Producer)</td>
                    <td> @(product.Category)</td>
                    <td> @(product.Price)</td>
                    <td> @(product.Picture)</td>
                    <td> @(Html.ActionLink("Details", "Details", "Product", new { id = product.ProductId }, new { @class = "btn btn-secondary" }))</td>
                    <td> @(Html.ActionLink("Edit", "Update", "Product", new { id = product.ProductId }, new { @class = "btn btn-secondary" }))</td>
                    <td> @(Html.ActionLink("Delete", "Delete", "Product", new { id = product.ProductId }, new { @class = "btn btn-secondary" }))</td>
                    <td> @(Html.ActionLink("Add to Shopping Cart", "AddToShoppingCart", "ShoppingCart", new { productJson = JsonSerializer.Serialize(product) }, new { @class = "btn btn-secondary" }))</td>
                </tr>
            }
        }

    </table>



